*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    color: #333;
    font: 1.25rem/1.5 sans-serif;
  }
  
  .wrapper {
    display: grid;
    gap: 20px;
    width: 410px;
    max-width: calc(100vw - 40px);
    padding: 30px;
    border-radius: 3px;
    background-color: #0002;
  }
  
  #text {
    display: block;
    height: 100px;
    padding: 10px;
    border: none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    color: #7c216d;
    resize: both;
  }
  
  #speak {
    padding: 10px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #0009;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    appearance: none;
  }